{{#breadcrumb_default}}
  <section class="inner_page_breadcrumb {{{ breadcrumb_classes }}}">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 text-center">
          <div class="breadcrumb_content">
            <h4 class="breadcrumb_title">{{{ pageheading }}}</h4>
            {{{ output.navbar }}}
          </div>
        </div>
      </div>
    </div>
  </section>
{{/breadcrumb_default}}
{{#breadcrumb_m}}
  <section class="inner_page_breadcrumb ccn_breadcrumb_m {{{ breadcrumb_classes }}}">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 text-center">
          <div class="breadcrumb_content">
            <h4 class="breadcrumb_title">{{{ pageheading }}}</h4>
            {{{ output.navbar }}}
          </div>
        </div>
      </div>
    </div>
  </section>
{{/breadcrumb_m}}
{{#breadcrumb_s}}
  <section class="inner_page_breadcrumb ccn_breadcrumb_s {{{ breadcrumb_classes }}}">
    <div class="container">
      <div class="breadcrumb_content">
        <div class="row">
          <div class="col-xl-6">
            <h4 class="breadcrumb_title">{{{ pageheading }}}</h4>
          </div>
          <div class="col-xl-6">
            {{{ output.navbar }}}
          </div>
        </div>
      </div>
    </div>
  </section>
{{/breadcrumb_s}}
{{#breadcrumb_xs}}
  <section class="inner_page_breadcrumb ccn_breadcrumb_s ccn_breadcrumb_xs {{{ breadcrumb_classes }}}">
    <div class="container">
      <div class="breadcrumb_content">
        <div class="row">
          <div class="col-xl-6">
            <h4 class="breadcrumb_title">{{{ pageheading }}}</h4>
          </div>
          <div class="col-xl-6">
            {{{ output.navbar }}}
          </div>
        </div>
      </div>
    </div>
  </section>
{{/breadcrumb_xs}}
{{#breadcrumb_hidden}}
  <section class="inner_page_breadcrumb ccn_breadcrumb_absent">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 text-center">
        </div>
      </div>
    </div>
  </section>
{{/breadcrumb_hidden}}
